@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

li {
    align-content: space-around;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    width: 57%;
    margin-bottom: 5px;
    height: 37px;
    background: #EFEFEF;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

.todoscollection{
    margin-top: 10px;
}

.buttondel {
    background-color: #91E985;
    opacity: 0.8;
    height: 37px;
    width: 7%;
    border: none;
    outline: none;
}
